/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */

:root {
  --light: rgba(0, 0, 0, 20%);
  --accent: #d93;
  --color-vore: #fee;
  --color-vore-ending: #dbb;
}

body {
  font: 1.2rem/1.6 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: var(--color, #111);
  background: var(--background, #eee);
  transition: opacity 1s, background 2s !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

tw-story {
  line-height: inherit;
  position: relative;
  margin: 1rem auto;
  padding-bottom: 4rem;
  max-width: 35em;
}

a {
  color: var(--color, #111);
  text-decoration-color: var(--light, rgba(0, 0, 0, 20%));
}

a:hover,
a:focus,
a:active {
  color: var(--accent, #d93);
  text-decoration-color: var(--accent, #d93);
}

.prose-time {
  font-family: serif;
}

.header {
  font-size: 0.75em;
  border-bottom: 1px solid var(--light);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.header-nav>* {
  display: inline-block;
  margin-bottom: 0;
}

.header-nav>*+* {
  margin-left: 0.5rem;
}

.header-nav>*+*::before {
  content: "|";
  margin-right: 0.5rem;
}

.list-unstyled {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.textchat {
  padding: 1rem;
  font-size: smaller;
  font-family: monospace;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid var(--light);
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}

/* Story Styles (using passage tags) */
body[data-tags~="vore"] {
  --background: #fbb;
}

body[data-tags~="dreamy_1"] {
  --background: #eef;
}

body[data-tags~="dreamy_2"] {
  --background: #ddf;
}

body[data-tags~="morning"] {
  --background: #ffe;
}

body[data-tags~="dark"], .backdrop {
  --background: #020202;
  --light: rgba(255, 255, 255, 50%);
  --color: #ccc;
}

[data-tags~="otherstory"] tw-passage,
[data-tags~="otherstory"] #recent-command,
.backdrop {
  font-family: "Times New Roman", serif;
  transition: none !important;
  line-height: 1.5;
}

[data-tags~="otherstory"] #recent-command {
  text-align: center;
  font-variant: small-caps;
}

[data-tags~="no_heading"] #recent-command {
  display: none;
}

@media screen and (max-width:500px) {
  .passage {
    --logo-height: 3em;
    font-size: 80%;
  }

  .logo_main {
    text-align: center;
    align-items: center
  }

  a {
    line-height: 2;
    padding: 2rem 0;
  }
}