[data-tags~="mousestory"] {
  font-size: 1.6rem;
  font-family: 'Trebuchet MS', var(--font-stack);
  --color: #E6D1AB !important;
  --background: #1d1103 !important;
  --light: #D8B370 !important;
  --accent: #D8B370 !important;
}
