/* Story Styles (using passage tags) */
/* body[data-tags~="vore"] {
  --background: #fcc;
} */

body[data-tags~="vore"] {
  --background: #800;
  --light: #fff8;
  --color: #fcc;
}

body[data-tags~="dreamy_1"] {
  --background: #eef;
}

body[data-tags~="vore"] {
  --background: #400;
  --light: #fff4;
  --color: #fdd;
}

body[data-tags~="dreamy_2"] {
  --background: #ddf;
}

body[data-tags~="morning"] {
  --background: #ffe;
  --color: #320;
}