/* Story Styles (using passage tags) */
body[data-tags~="vore"] {
  --background: #fcc;
}

body[data-tags~="dreamy_1"] {
  --background: #eef;
}

body[data-tags~="dreamy_2"] {
  --background: #ddf;
}

body[data-tags~="morning"] {
  --background: #ffe;
}