/* Hollis reverts back to the default font. */

.hollistalk {
  font-family: var(--font-stack);
  font-weight: normal;
  text-transform: none !important;
  font-size: 90%;
}

body[data-tags~="dark"], .backdrop {
  --background: #020202;
  --light: rgba(255, 255, 255, 50%);
  --color: #ccc;
}

[data-tags~="anastory"], [data-tags~="anastory"] .topbar {
  transition: opacity 1s, background 0s !important;
  line-height: 1.5;
}

.backdrop,
[data-tags~="anastory"] #recent-command,
[data-tags~="anastory"] {
  font-family:'Times New Roman', Times, serif;
}

[data-tags~="anastory"] #recent-command {
  text-align: center;
}

[data-tags~="anastory"] a,
[data-tags~="anastory"] #recent-command {
  font-variant-caps: small-caps;
}

@supports (background-clip: text) or (-webkit-background-clip: text) {
  .fadeout {
    background: linear-gradient(to bottom, var(--color), transparent);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }
}

.focusonly {
  opacity: 0;
  cursor: default;
  transition: opacity 0.3s;
}

.focusonly:focus, .focusonly:hover {
  opacity: 1;
}

tw-story, tw-passage {
  position: unset;
}

.backdrop {
  position: absolute;
  left: 0px;
  right: 0px;
  padding-top: 60rem;
  padding-bottom: 20rem;
  width: 100%;
  background: rgb(238,238,238);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,
    #020202 30%);
  color: #eee;
  --color: #eee;
  --light: rgba(255, 255, 255, 50%);
  text-align: center;
}

.other-logo {
  font-size: 3rem;
  padding-bottom: 10rem;
  font-variant: small-caps;
}

/* Backgrounds for zen passages */

body[data-tags~="dreamy_1"] {
  --background: #ccf;
}

body[data-tags~="dreamy_2"] {
  --background: #113;
  --light: rgba(255, 255, 255, 50%);
  --color: #ccc;
}
body[data-tags~="dreamy_3"] {
  --background: #002;
  --light: rgba(255, 255, 255, 50%);
  --color: #ccc;
}

/* Space background */

.space {
  background-position: center;
  background-size: 200px 200px;
  position: fixed;
  top: min(-50vh, -50vw);
  left: min(-50vh, -50vw);
  bottom: min(-50vh, -50vw);
  right: min(-50vh, -50vw);
  z-index: -100;
  animation-name: space;
  animation-iteration-count: infinite;
}

.stars1 {
  animation-duration: 120s;
  background-image:
    radial-gradient(1px 1px at 25px 5px, var(--color), rgba(255, 255, 255, 0)),
    radial-gradient(1px 1px at 50px 25px, var(--color), rgba(255, 255, 255, 0)),
    radial-gradient(1px 1px at 125px 20px, var(--color), rgba(255, 255, 255, 0)),
    radial-gradient(1.5px 1.5px at 50px 75px, var(--color), rgba(255, 255, 255, 0)),
    radial-gradient(2px 2px at 15px 125px, var(--color), rgba(255, 255, 255, 0)),
    radial-gradient(2.5px 2.5px at 110px 80px, var(--color), rgba(255, 255, 255, 0));
}

.stars2 {
  animation-duration: 190s;
  background-image:
    radial-gradient(1px 1px at 75px 125px, var(--color), rgba(255, 255, 255, 0)),
    radial-gradient(1px 1px at 100px 75px, var(--color), rgba(255, 255, 255, 0)),
    radial-gradient(1.5px 1.5px at 199px 100px, var(--color), rgba(255, 255, 255, 0)),
    radial-gradient(2px 2px at 20px 50px, var(--color), rgba(255, 255, 255, 0)),
    radial-gradient(2.5px 2.5px at 100px 5px, var(--color), rgba(255, 255, 255, 0)),
    radial-gradient(2.5px 2.5px at 5px 5px, var(--color), rgba(255, 255, 255, 0));
}

.stars3 {
  animation-duration: 220s;
  background-image:
    radial-gradient(1px 1px at 10px 10px, var(--color), rgba(255, 255, 255, 0)),
    radial-gradient(1px 1px at 150px 150px, var(--color), rgba(255, 255, 255, 0)),
    radial-gradient(1.5px 1.5px at 60px 170px, var(--color), rgba(255, 255, 255, 0)),
    radial-gradient(1.5px 1.5px at 175px 180px, var(--color), rgba(255, 255, 255, 0)),
    radial-gradient(2px 2px at 195px 95px, var(--color), rgba(255, 255, 255, 0)),
    radial-gradient(2.5px 2.5px at 95px 145px, var(--color), rgba(255, 255, 255, 0));
}

@keyframes space {
  40% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.25;
  }
  60% {
    opacity: 0.75;
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Only show when passage has "stars" tag */

#space-bg {
  display: none;
  position: absolute;
  z-index: -3;
}
[data-tags~="stars"] #space-bg {
  display: block;
  animation-name: fadein;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Accessibility */

@media (prefers-reduced-motion) {
  .space {
    animation-name: none !important;
  }
}

@media (prefers-contrast) {
  tw-passage {
    background: var(--background);
  }
}

