/* Playfair Display SC is used exclusively for the title */
/* @import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&text=Life%20of%20%the%20Party&display=block"); */

/* Tinos is used for Byron's text, and Comic Neue is used for Ren's. */
/* @import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Tinos:ital@0;1&display=swap"); */


@font-face {
  font-family: 'Comic Neue';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/comicneue/v2/4UaErEJDsxBrF37olUeD_xHMwps.ttf) format('truetype');
}

@font-face {
  font-family: 'Tinos';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/tinos/v16/buEzpoGnedXvwjX-Rt1s0Co.ttf) format('truetype');
}
@font-face {
  font-family: 'Tinos';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/tinos/v16/buE1poGnedXvwj1AW0Fp.ttf) format('truetype'),
  url(https://fonts.gstatic.com/s/tinos/v16/buE1poGnedXvwj1AW3Fu0C8V-txK.woff2) format('woff2');
}