/* Commands */

.commands-list {
    list-style-type: disclosure-closed;
    list-style-position: inside;
    padding-inline-start: 0;
}

.commands-list li {
  margin-bottom: 1rem;
}

.commands-list ::marker {
  color: var(--light);
}
.commands-list li:focus-within::marker {
  color: var(--color);
}

.commands-list :any-link {
  color: var(--color);
  display: inline-block;
  padding: 0.25rem 0.5rem;
  text-decoration-line: none;
  border: 1px solid var(--light);
  border-radius: 0.5rem;
}

.commands-list :any-link:hover {
  color: var(--color);
  border-color: var(--color);
  text-decoration-color: var(--light);
  text-decoration-line: underline;
}

.commands-list :any-link:focus {
  color: var(--background);
  background: var(--color);
  border-color: transparent;
  outline: none;
}
