/* LICENSE: MIT-0 */

.logo {
  line-height: 1.3;
  text-align: center;
  margin: 4rem 0;
}
.logo__title {
  font: 3em/0.8 'PlayfairDisplaySC-Bold-LotP', serif;
  display: flex;
  justify-content: center;
}

.logo__subtitle {
  letter-spacing: 0.12em;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: larger;
}
.logo__horse {
  display: inline-block;
  width: auto;
  height: 0.8em;
}

.logo__title > span {
  white-space: nowrap;
  padding-inline: 0.5ch;
}

@media screen and (max-width:800px) {
  .logo__title {
    font-size: 1.9em;
  }
}