/* LICENSE: MIT-0 */

.logo {
  line-height: 1.3;
  text-align: center;
  margin: 5rem 0;
}
.logo__title {
  font-family: Playfair Display SC, Times New Roman, serif;
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 0.8;
  text-align: center;
}

.logo__subtitle {
  letter-spacing: 0.12em;
  text-transform: uppercase;
  font-weight: lighter;
}
.logo__horse {
  display: inline-block;
  height: 0.8em;
}

.logo__title > span {
  padding-inline: 0.5ch;
}

@media screen and (max-width:700px) {
  .logo__title {
    font-size: 1.9em;
  }
}