/* LICENSE: MIT-0 */

/* Style variables */

:root {
  --color: #111;
  --background: #eee;
  /* Semi-transparent decoration color */
  --light: rgba(0, 0, 0, 20%);
  /* Link hover color */
  --accent: #d93;
  /* Default body font */
  --font-stack: -apple-system, BlinkMacSystemFont,  Segoe UI, Roboto, Helvetica Neue, sans-serif;
}

body {
  background: var(--background);
  box-sizing: border-box;
  color: var(--color);
  font: 1.4rem/1.6 var(--font-stack);
  margin: 0.5rem;
  overflow: scroll;
  transition: opacity 1s, background 2s;
}


@media screen and (max-width:700px) {
  body {
    font-size: min(4vw, 1.2rem);
  }
}

tw-story {
  line-height: inherit;
  margin: 0 auto;
  /* padding-bottom: 4rem; */
  max-width: 35em;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 1rem;
}


/*  Headings */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.15;
  font-weight: 700;
}

/* Links */
a[href] {
  color: var(--color, #111);
  text-decoration-color: var(--light, rgba(0, 0, 0, 20%));
}

a[href]:hover, a[href]:focus, a[href]:active {
  color: var(--accent, #d93);
  text-decoration-color: var(--accent, #d93);
}

.list-unstyled {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

/* Tag: no_heading: hides the passage name */
[data-tags~="no_heading"] #recent-command {
  display: none;
}

.center-list {
  margin-left: auto;
  margin-right: auto;
  width: max-content;
}
/* Mobile mode */
@media screen and (max-width:500px) {
  .commands-list a {
    padding: 1rem;
  }
}
