/* Fake social cards for Hazel ending */

[data-tags~="socmed"] tw-story {
  max-width: 33rem;
  margin: 0 auto;
}

.social-card {
  padding: 1rem;
  font-size: smaller;
  /* font-family: sans-serif; */
  background: white;
  border: 1px solid var(--light);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
  cursor: default;
}
.social-card small {
  opacity: 0.7;
}
.social-card__comments {
  padding-top: 1rem;
  border-top: 2px solid var(--light);
  font-size: smaller;
}
.social-card__comments p {
  margin-bottom: 0.25rem;
}

.social-card .placeholder-img {
  max-width: 20em;
  height: 20em;
  margin-inline: auto;
  border-radius: 0.5rem;
  margin-block-end: 1rem;
}

.placeholder-img {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Fake images */

.belly-gradient {
  background-image: radial-gradient(ellipse at top, #b19164, transparent),
            radial-gradient(ellipse at 50% 70%, black, transparent);
}

.poop-gradient {
  background-image: radial-gradient(ellipse at center, #5f3c0b, transparent),
radial-gradient(ellipse at top, #eeeeee, transparent),
            radial-gradient(ellipse at 50% 70%, #287486, transparent)
}

