.header {
  font-size: 0.75em;
  border-bottom: 1px solid var(--light);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.header-nav>* {
  display: inline-block;
  margin-bottom: 0;
}

.header-nav>*+* {
  margin-left: 0.5rem;
}

.header-nav>*+*::before {
  content: "|";
  margin-right: 0.5rem;
}