/* textchat.css */
/* Styles used by Lacey's epilogue */

.textchat {
    padding: 1rem;
    font-size: smaller;
    font-family: Roboto, sans-serif;
    background: white;
    border: 1px solid var(--light);
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.textchat > * {
  border-radius: 1em;
  padding: 0.5rem;
  background-color: #ddd;
  margin-bottom: 1rem;
}

.textchat .lacey {
  align-self: flex-end;
}

.textchat p.lacey {
  color: white;
  --light: rgba(255, 255, 255, 0.7);
  background: #66d;
  border-top-right-radius: 0;
}

.textchat .clif {
  align-self: flex-start;
  border-top-left-radius: 0;
}

.textchat .placeholder-img {
  width: 20rem; height: 15rem;
}